body{
    padding: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.borde{
    border: 1px solid black;
    padding: 15px;
   
}

#cabecera{
text-align: center;
}

#menu{
    text-align:center;
}

#menu a{
    display:inline-block;
    background-color: #adbefc;
    color:black;
    padding:1px 20px 1px 20px;
    text-decoration:none;
    width:15%;
    border-radius:5px;
    cursor:pointer;
}

#menu a:hover{
    color:white;
    background-color: gray;
}

#menu a:active{
    color:red;
}

#menu .menu_activo{
    background-color: orange;
}

#sec1{
    display: flex;
}

#qsoy{
    margin-bottom: 0;
}
#small_d{
    font-size:10px;
}

#sec1 #art1{
    text-align:justify;
}

#line{
    width:20%;
    height:2px;
    background-color:black;
margin-left:0;
border-radius: 50%;
transform: rotate(1deg);
}
#sec2{
color:white;
background-color: #6fa8dc;
text-align: center;
}

#line2{
    background-color: white;
    width:20%;
    height:2px;
    border-radius: 50%;
    transform: rotate(1deg);
    margin-top:0;
}

#servicios{
    display:flex;
}

#servicios #artm{
    margin-left:45px;
    margin-right:45px;
}

#servicios article {
    background-color:#ff9800;
    color:white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border:4px solid #6fa8dc;
    margin: 60px;
}

#servicios article p{
    text-align: justify;
    padding-left:10px;
    padding-right: 10px;
}
 
#sec3 h1{
    text-align: center;
}
#servicios article h2 {
    text-align: center;
}
.btn1{
    background-color: white;
    border:3px solid black;
    padding-left:25px;
    padding-right: 25px;
    font-size: 18px;
    box-shadow: 2px 2px 1px black ;
    color:orange;
    margin-top: 30px;
}

#sec4 {
    color:white;
    background-color: #6fa8dc;
    text-align: center;
    padding-bottom: 80px;
}
#tabla_1{
    margin-left: 250px;
    border-top:2px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-spacing: 0;
}
#sec4 table th{
    color:black;
    background-color: #b7aaaa;
    border-bottom: 0;
    text-align: left;
    }

    #sec4 table tr{
        border-top:0;
        border-bottom:1px solid black;
        
    }

    #sec4 table tbody{
        background: repeating-linear-gradient(to top, white, white 35px,#e6d8d8 40px, #e6d8d8 80px); 

    }
    


.image1{
    padding:20px 70px 20px 70px;
}

#pie_pag{
    text-align: center;
}

